.course-gallery{

    margin-top: 20px;
    width: 70%;
}

.main{
    display: flex;
}

.order{
    margin-top: 20px;
    margin-left: 20px; 
    border-left: 5px solid pink;
}

button{

    background-color: pink;
    border-radius: 10px;
    cursor: pointer;
    
}




